src/main/mule/sfdc-sapi-router.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    
	<flow name="sfdc-sapi-2-main">
        <http:listener config-ref="sfdc-http-listener-config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sfdc-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="sfdc-sapi-2-console">
        <http:listener config-ref="sfdc-http-listener-config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sfdc-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="post:\sfdc\alternate-channels:application\json:sfdc-api-config">
		<flow-ref doc:name="Flow Ref to sfdc-sapi-alternate-channel-flow" doc:id="62f07617-abe9-4fa3-90f1-f157d584fd62" name="sfdc-sapi-alternate-channel-flow"/>
        
    </flow>
    <flow name="post:\sfdc\ext-org-accounts:application\json:sfdc-api-config">
		<flow-ref doc:name="Ext org accounts flow" doc:id="9746be7f-1650-401f-915e-01151f0583b4" name="sfdc-ext-accounts-flow"/>
    </flow>
    <flow name="post:\sfdc\employment:application\json:sfdc-api-config">
		<flow-ref doc:name="Flow Ref to sfdc-sapi-employment-flow" doc:id="d51e9c44-ce98-4912-a53b-236e399626f7" name="sfdc-sapi-employment-flow"/>
    </flow>
    <flow name="post:\sfdc\education:application\json:sfdc-api-config">
		<flow-ref doc:name="sfdc-sapi-education-flow" doc:id="a00180bc-e199-41d3-b069-17364570d104" name="sfdc-sapi-education-flow"/>
    </flow>
    <flow name="post:\sfdc\student-interest:application\json:sfdc-api-config">
        <flow-ref doc:name="Flow Ref to sfdc-sapi-student-interest-flow" doc:id="292f4dab-1524-40ae-8e07-94d6d11e3ad3" name="sfdc-sapi-student-interest-flow"/>
    </flow>
    <flow name="post:\sfdc\accounts:application\json:sfdc-api-config" doc:id="a87e0fd8-591c-40eb-9e7d-086cefce3e7e" >
		<flow-ref doc:name="Flow Ref to sfdc-sapi-accounts-create-flow" doc:id="d459f03f-4df9-4aae-8ef1-c510be36e157" name="sfdc-sapi-accounts-create-flow" />
	</flow>
	<flow name="post:\sfdc\contacts:application\json:sfdc-api-config" doc:id="cc962fac-7915-464e-b566-d123b3384c5f" >
		<flow-ref doc:name="Flow Ref to sfdc-sapi-contacts-create-flow" doc:id="df5a9a50-98d3-4340-9a93-00a37605754a" name="sfdc-sapi-contacts-create-flow" />
	</flow>
	<flow name="post:\sfdc\relationship:application\json:sfdc-api-config" doc:id="28cf19c2-9cb1-4a42-b9da-126dc5d55ede" >
		<flow-ref doc:name="Flow Ref to sfdc-sapi-relationship-create-flow" doc:id="c55de790-4b95-4157-b09b-985142bc25cd" name="sfdc-sapi-relationship-create-flow" />
	</flow>
	<flow name="post:\sfdc\query:sfdc-api-config" doc:id="7ceedf8e-4b6f-415f-87ee-6c19310972af" >
		<flow-ref doc:name="Flow Ref to sfdc-sapi-query-salesforce-flow" doc:id="301332cb-be74-4877-b97b-2f6c8876faa3" name="sfdc-sapi-query-salesforce-flow"/>
	</flow>
    </mule>
